<html>
    <head>
        <link rel="stylesheet" href="/static/style.css" type="text/css"> <!--Odkaz na vlastní css styly-->
    </head>
    <div class="container">
        <div class="logo">BankApp Login</div>
        <div class="login-item">
          <form action="" method="post" class="form form-login">

            <div class="form-field">
              <label class="user" for="login-username"><span class="hidden">Email</span></label>
              <input name="login-username" type="text" class="form-input" placeholder="Email" required>
            </div>
    
            <div class="form-field">
              <label class="lock" for="login-password"><span class="hidden">Heslo</span></label>
              <input name="login-password" type="password" class="form-input" placeholder="Heslo" required>
            </div>
    
            <div class="form-field">
              <input type="submit" value="Poslat oveřovací kod">
            </div>
          </form>
        </div>
    </div>
</html>